
/Library
/Logs
/Temp
/Logs
/Logs
*.log
/.vs
/Logs
*.log
/obj
/UserSettings
/obj
/obj
/obj
Assembly-CSharp-Editor.csproj
Framework.sln
Framework.sln
/obj
Framework.sln
/obj
/UserSettings
Assembly-CSharp.csproj
Main.sln
